.column, .column-left, .column-middle, .column-right {
  margin: 0 auto; }

h1 {
  text-align: center;
  font-size: 18pt; }

h2 {
  text-align: center;
  font-size: 14pt; }

.tweet, section[id^="tweet"], section[id^="userTweet"], section[id^="userMention"] {
  width: 50%;
  margin: 0 auto; }
